@font-face {
    font-family: 'Minecrafter Alt';
    src: local('Minecrafter Alt'), local('MinecrafterAlt'),
        url('MinecrafterAlt.woff2') format('woff2'),
        url('MinecrafterAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecrafter';
    src: local('Minecrafter'),
        url('Minecrafter.woff2') format('woff2'),
        url('Minecrafter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Minecrafter, monospace;
  background: rgba(255,0,0,1);
background: -moz-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(255,128,0,1) 13%, rgba(255,255,0,1) 29%, rgba(0,127,0,1) 46%, rgba(0,0,255,1) 62%, rgba(179,0,255,1) 78%, rgba(216,0,220,1) 93%, rgba(216,0,220,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(13%, rgba(255,128,0,1)), color-stop(29%, rgba(255,255,0,1)), color-stop(46%, rgba(0,127,0,1)), color-stop(62%, rgba(0,0,255,1)), color-stop(78%, rgba(179,0,255,1)), color-stop(93%, rgba(216,0,220,1)), color-stop(100%, rgba(216,0,220,1)));
background: -webkit-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(255,128,0,1) 13%, rgba(255,255,0,1) 29%, rgba(0,127,0,1) 46%, rgba(0,0,255,1) 62%, rgba(179,0,255,1) 78%, rgba(216,0,220,1) 93%, rgba(216,0,220,1) 100%);
background: -o-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(255,128,0,1) 13%, rgba(255,255,0,1) 29%, rgba(0,127,0,1) 46%, rgba(0,0,255,1) 62%, rgba(179,0,255,1) 78%, rgba(216,0,220,1) 93%, rgba(216,0,220,1) 100%);
background: -ms-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(255,128,0,1) 13%, rgba(255,255,0,1) 29%, rgba(0,127,0,1) 46%, rgba(0,0,255,1) 62%, rgba(179,0,255,1) 78%, rgba(216,0,220,1) 93%, rgba(216,0,220,1) 100%);
background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,128,0,1) 13%, rgba(255,255,0,1) 29%, rgba(0,127,0,1) 46%, rgba(0,0,255,1) 62%, rgba(179,0,255,1) 78%, rgba(216,0,220,1) 93%, rgba(216,0,220,1) 100%);
}
