@font-face {
    font-family: 'Minecrafter Alt';
    src: local('Minecrafter Alt'), local('MinecrafterAlt'),
        url('MinecrafterAlt.woff2') format('woff2'),
        url('MinecrafterAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecrafter';
    src: local('Minecrafter'),
        url('Minecrafter.woff2') format('woff2'),
        url('Minecrafter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: monospace;
  font-size: 30px;
  background-color:#C5E1FD;
}


header h1 {
  text-align: center;
  font-size: 4em;
}

header h3 {
  text-align: right;
  font-size: 1em;
}



#start {
  height: 90px;
  width: 520px;
  background-color: rgba(200,0,0);

}
